/* Imports the Roboto Regular 400 font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General Styles */

/* Selects everything */
* {
    /* All fonts are Roboto */
    font-family: Roboto, sans-serif; 
}

body {
    margin: 0;
}

/* End General Styles */

/* Navbar Styles */

.nav__container {
    background-color: #453B2F;
    padding-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 75vw;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav__links {
    display: flex;
    gap: 16px;

    list-style: none;
}

.nav__links a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
} 

.navbar__logo > img {
    width: 150px;   
}

/* End Navbar Styles */

/* Hero Section Style */

.hero__container {
    background-color: #453B2F;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
    width: 75vw;
    margin: auto;
}

.hero__image {
    width: 50%;
    border-radius: 20px;
}

/* End Hero Section */