/* Imports the Playfair Display Regular 400 font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* General Styles */

/* Selects everything */
* {
    /* All fonts are Playfair Display */
    font-family: 'Playfair Display', serif; 
}

body {
    margin: 0;
}

/* End General Styles */

/* Navbar Styles */

.nav__container {
    background-color: #453B2F;
    padding-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 75vw;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav__links {
    display: flex;
    gap: 16px;

    list-style: none;
}

.nav__links a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
} 

.navbar__logo > img {
    width: 150px;   
}

/* End Navbar Styles */

/* Hero Section Style */

.hero__container {
    background-color: #453B2F;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;

    height: 100vh;
    width: 75vw;
    margin: auto;
}

.hero > div {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 36px;
}

.hero__header {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.hero__paragraph {
    color: white;
    font-size: 1.125rem;
    text-align: justify;
}

span {
    display: block;
}

.hero__image {
    width: 40%;
    border-radius: 20px;
}

.hero button {
    font-weight: 200;
    font-size: 1.125rem;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    height: 40px;

    align-self: center;
}

/* End Hero Section */

/* Activities Section */

.activities__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.activities__container > header {
    font-size: 2rem;
    font-weight: 200;
}

.activities {
    display: flex;
    justify-content: center;
    gap: 20px;

    flex-wrap: wrap;
}

.activities p {
    font-size: 1.125rem;
}

.card {
    width: 250px;

    text-align: center;
}

.card span {
    width: 250px;
    height: 250px;
}

.card img {
    box-sizing: border-box;

    width: 100%;
    height: auto;  

    border: 3px solid #B3A79A;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* End Activities */

/* Testimonial */

.testimonial__container {
    background-color: #B3A79A;
}

/* End Testimonial */