/* Imports the Roboto Regular 400 font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General Styles */

/* Selects everything */
* {
    /* All fonts are Roboto */
    font-family: Roboto, sans-serif; 
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* End General Styles */

/* Navbar Styles */

.nav_container {

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70vw;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav > ul{
    display: flex;
    gap: 16px;

    list-style: none;   
}

.navbar__logo > img {
    width: 150px;   
}

/* End Navbar Styles */